<!--우측 콘텐츠 영역 -->
<form action="/message/modify/<%=channel_msg.channel_msg_id%>" id="messageForm" method="post">
    <div class="wrapper wrapper-content">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group d-flex flex-column">
                        <label class="control-label">대표이미지</label>
                        <img class="w-75" src="" alt="" />
                        <button class="w-75" submit="/">변경</button>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <div>
                            <label class="control-label">채팅방ID</label>
                            <input type="text" id="channel_id"  
                            value="<%= channel_msg.channel_id %>" class="form-control mb-3" />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-6">작성자ID</label>
                            <input type="text" id="member_id"  
                            value="<%= channel_msg.member_id %>" class="form-control mb-3" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">작성자 닉네임</label>
                            <input type="text" id="nick_name"  
                            value="<%= channel_msg.nick_name %>" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">메세지 유형</label>
                            <select id="msg_type_code"  
                            value="<%= channel_msg.msg_type_code %>" class="form-control">
                                <option value="9">선택</option>
                                <option value="0">퇴장</option>
                                <option value="1">입장</option>
                                <option value="3">일반메세지</option>
                                <option value="4">파일메세지</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">커넥션ID</label>
                            <input type="text" id="connection_id"  
                            value="<%= channel_msg.connection_id %>" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">메시지</label>
                            <textarea id="channel_msg" rows="4" cols="50" class="form-control">
                                <%= channel_msg.message %>
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">저장</button>
                <a href="/message/delete" class="btn btn-danger">삭제</a>
                <a href="/message/list" class="btn btn-info">목록</a>
            </div>
        </div>
    </div>
</form>
