<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>관리자 정보 관리</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/main">Home</a>
        </li>
        >
        <li>
          <a>관리자 정보 관리</a>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderNo">관리자 이름</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderName">소속회사코드</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="MobileNo">상태</label>
                    <select class="form-control">
                        <option value="9">선택</option>
                        <option value="1">사용함</option>
                        <option value="0">사용안함</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">조회</button>
            <a href="/admin/create" class="btn btn-info">신규</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">소속회사코드</th>
                                    <th width="10%">ID</th>
                                    <th width="20%">이름</th>
                                    <th width="20%">email</th>
                                    <th width="10%">연락처</th>
                                    <th width="10%">상태</th>
                                    <th width="20%">등록일시</th>
                                </tr>
                            </thead>
                            <tbody class="hoverTblBody">
                                <% for(var i=0;i<admin_member.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%=admin_member[i].company_code%>
                                        </td>
                                        <td><a href="/admin/modify/<%=admin_member[i].admin_member_id%>">
                                                <%=admin_member[i].admin_id%>
                                            </a></td>
                                        <td>
                                            <%=admin_member[i].admin_name%>
                                        </td>
                                        <td>
                                            <%=admin_member[i].email%>
                                        </td>
                                        <td>
                                            <%=admin_member[i].telephone%>
                                        </td>
                                        <td>
                                            <% if(admin_member[i].used_yn_code==1){%>
                                                사용함
                                                <% } else{ %>
                                                    휴면계정
                                                    <% }%>
                                        </td>
                                        <td>
                                            <%=moment(admin_member[i].reg_date).format('YYYY-MM-DD HH:mm:ss') %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>