<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderNo">사용자 명</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderName">아이디</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="MobileNo">사용여부</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">조회</button>
            <a href="/article/create" class="btn btn-info">신규</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">게시물ID</th>
                                    <th width="10%">게시판ID</th>
                                    <th width="20%">제목</th>
                                    <th width="10%">유형</th>
                                    <th width="10%">조회수</th>
                                    <th width="20%">작성자IP</th>
                                    <th width="10%">작성일</th>
                                    <th width="10%">작성자</th>
                                </tr>
                            </thead>
                            <tbody class="hoverTblBody">
                                <% for(var i=0;i<articles.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%=articles[i].article_id%>
                                        </td>
                                        <td>
                                            <%=articles[i].board_type_code%>
                                        </td>
                                        <td><a href="/article/modify/<%=articles[i].article_id%>">
                                                <%=articles[i].title%>
                                            </a></td>
                                        <td>
                                            <%=articles[i].article_type_code%>
                                        </td>
                                        <td>
                                            <%=articles[i].view_count%>
                                        </td>
                                        <td>
                                            <%=articles[i].ip_address%>
                                        </td>
                                        <td>
                                            <%=articles[i].reg_date%>
                                        </td>
                                        <td>
                                            <%=articles[i].reg_member_id%>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>