<!--우측 콘텐츠 헤더영역 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>사용자 정보 관리</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/main">Home</a>
        </li>
        >
        <li>
          <a>사용자 정보 관리</a>
        </li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

<!--우측 콘텐츠 영역 -->
<div class="wrapper wrapper-content">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderNo">사용자 이름</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="OrderName">사용자 아이디</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="MobileNo">상태</label>
                    <select class="form-control">
                        <option value="9">선택</option>
                        <option value="1">일반계정</option>
                        <option value="0">휴면계정</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">조회</button>
            <a href="/member/create" class="btn btn-info">신규</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">멤버ID</th>
                                    <th width="10%">사용자 이름</th>
                                    <th width="20%">이메일</th>
                                    <th width="20%">전화번호</th>
                                    <th width="10%">유형</th>
                                    <th width="20%">가입일</th>
                                </tr>
                            </thead>
                            <tbody class="hoverTblBody">
                                <% for(var i=0;i<member_list.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%=member_list[i].member_id%>
                                        </td>
                                        <td><a href="/member/modify/<%=member_list[i].member_id%>">
                                                <%=member_list[i].name%>
                                            </a></td>
                                        <td>
                                            <%=member_list[i].email%>
                                        </td>
                                        <td>
                                            <%=member_list[i].telephone%>
                                        </td>
                                        <td>
                                            <% if(member_list[i].use_state_code==1){%>
                                                일반계정
                                                <% } else{ %>
                                                    휴면계정
                                                    <% }%>
                                        </td>
                                        <td>
                                            <%=moment(member_list[i].reg_date).format('YYYY-MM-DD HH:mm:ss') %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>